<div layout="column" layout-align="center center"
>
    <h3>Manager</h3>

    <md-button class="md-raised md-primary" ng-click="showCreateCategory($event)">Create new category</md-button>

    <div layout="row">
        <md-card md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">From my book</span>
                    <span class="md-subhead">19.11.2015</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" href="#/manager/list">Select</md-button>

                <md-button class="md-icon-button demo-menu-open-button" aria-label="More" ng-click="showMenu($event)">
                    <md-icon md-svg-icon="img/more_vert.svg"></md-icon>
                </md-button>

            </md-card-actions>
        </md-card>

        <md-card md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Idioms</span>
                    <span class="md-subhead">05.01.2016</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" href="#/manager/list">Select</md-button>

                <md-button class="md-icon-button demo-menu-open-button" aria-label="More" ng-click="showMenu($event)">
                    <md-icon md-svg-icon="img/more_vert.svg"></md-icon>
                </md-button>

            </md-card-actions>
        </md-card>

        <md-card md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Last exam</span>
                    <span class="md-subhead">31.10.2016</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" href="#/manager/list">Select</md-button>

                <md-button class="md-icon-button demo-menu-open-button" aria-label="More" ng-click="showMenu($event)">
                    <md-icon md-svg-icon="img/more_vert.svg"></md-icon>
                </md-button>

            </md-card-actions>
        </md-card>
    </div>
</div>